body{
    margin: 0;
    background-color: #FCECEA;
}

.global_nav{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: #CF6E6E;
    color: #FFFFFF;
}

.global_nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
    list-style: none; 
}

.global_nav a{
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    color: white;
}

.global_nav a:hover{
    background-color: #A43737;
}